# common file types
*.root
*.h5
*.json
*.pdf
*.png
*.tgz
*.pcm

# mac shit
.DS_Store

# ATLAS shit
.asetup.save

# python shit
__pycache__

# directories
/build/
/bin/
/dict/
/test/
/plots/
/run/
/*-files
